* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    margin-left: 50px;
}

.navbar {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 3px 5px rgb(93, 161, 165);
    position: fixed;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.nav-links a:hover {
    color: teal;
}

.icons{
    margin-right: 50px;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("bg.png") center/contain no-repeat;
    z-index: -1;
}

.paregraph{
    padding: 40px;
    width: 45%;
}

.paregraph h1{
    padding-top: 10%;
    font-size: 48px;
}

.paregraph h1 span{
    color: #00a9a9;
}

.paregraph p{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 20px 0;
    line-height: 1.7;
    color: #555;
}

.botun {
    display: inline-block;
    padding: 10px 20px;
    background: #00a9a9;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.table img{
    width: 90%;
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

