* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    margin-left: 50px;
}

.navbar {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 3px 5px rgb(93, 161, 165);
    position: fixed;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.nav-links a:hover {
    color: teal;
}

.icons{
    margin-right: 50px;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
}
