.new-arrivals{
     text-align: center;
    padding: 40px 0;
}
.new-arrivals h2 {
    font-size: 2em;
    margin-bottom: 30px;
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    max-width: 1200px; 
    margin: auto;
}
.book-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.book-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}
.book-card h4 {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}
.stars {
    color:#28a745;
    margin-bottom: 8px;
    font-size: 1em;
}
.book-card p {
    margin: 3px 0;
    font-size: 0.9em;
    color: #666;
}
.book-card button {
     margin-top: 8px;
    padding: 6px 12px;
    background-color: #fff;
    border: 2px solid #28a745; 
    border-radius: 0; 
    color: #28a745;
    cursor: pointer;
    font-weight: bold;
}
.book-card button:hover {
    background-color: #0c8;
}

.books-grid > :nth-child(10) {
    grid-column: auto;
}
@media (max-width: 1100px) {
    .books-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .books-grid > :nth-child(10) {
        grid-column: 2 / span 1;
    }
}
@media (max-width: 700px) {
    .books-grid {
        grid-template-columns: 1fr;
    }
    .books-grid > :nth-child(10) {
        grid-column: auto;
    }
}

