* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    margin-left: 50px;
}

.navbar {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 1px 5px #00a9a9;
    position: fixed;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.nav-links a:hover {
    color:#00a9a9;
}

.icons{
    margin-right: 50px;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
}

.section1{
    display: flex;
    justify-content: space-between;
    
}

.section1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("bg.png") center/contain no-repeat;
    z-index: -1;
}

.paregraph{
    padding: 3%;
    width: 45%;
}

.paregraph h1{
    padding-top: 10%;
    font-size: 48px;
}

.paregraph h1 span{
    color: #00a9a9;
}

.paregraph p{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 20px 0;
    line-height: 1.7;
    color: #555;
}

.botun {
    display: inline-block;
    padding: 10px 20px;
    background: #00a9a9;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.table img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

@media (max-width: 992px) {
    
    .section1 {
        flex-direction: column; 
        
    }

    .paregraph {
        width: 90%; 
    }

    .table img {
        width: 90%; 
        flex-wrap: wrap;
        justify-content: center; 
    }
    
}

@media (max-width: 768px) {

    .section1 {
        flex-direction: column;
        align-items: center;
    }

    .paregraph {
        width: 90%;
        text-align: center;
    }

    .table img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 div {
    width: calc(25% - 30px);
    background: #fff;
    padding: 10px 5px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 10px #00a9a9;
    transition: 0.3s ease-in-out;
}



.section2 div:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #00a9a9;
}

.section2 i {
    font-size: 50px;
    color: #00a9a9;
    margin-bottom: 15px;
}

.section2 h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.section2 p {
    color: #555;
    font-size: 15px;
}



@media (max-width: 768px) {
    .section2 div {
        width: calc(50% - 30px);
    }
}

.section3 {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 40px;
    min-height: 500px;
}


.image-area {
    width: 50%;
    text-align: center;
}

.image-area img {
    max-width: 100%; 
    height: auto;
    display: block;
}

.content-area {
    width: 45%;
    padding-left: 40px;
}

.content-area h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.content-area p {
    line-height: 1.7;
    color: #555;
    margin-bottom: 30px;
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00a9a9;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

@media (max-width: 768px) {

    .section3 {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .image-area,
    .content-area {
        width: 100%;
        padding: 0;
    }

    .image-area img {
        margin: 0 auto 20px;
    }

    .content-area p {
        text-align: center;
    }

}

.section4 {
    padding: 60px;
}

.section4 h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.section4 h3{
    font-size: 25px;
}

.books-slider {
    display: flex;
    gap: 25px;
    padding-bottom: 10px; 
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #0ea9a6 #f1f1f1;
}

.book-card {
    min-width: 250px;
    border: 2px solid #919191;
    padding: 10px;
    text-align: center;
}

.book-card img {
    transition: 0.3s ease-in-out;
    height: 250px;
    padding-bottom: 10px;
}

.book-card .author {
    margin: 10px 0;
    color: #777;
}

.book-card .category {
    color: #009c9c;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.price span {
    font-size: small;
    text-decoration: line-through;
    font-weight: lighter;
}

.book-card button {
    border: 2px solid #00a9a9;
    background: none;
    padding: 5px 20px;
    cursor: pointer;
}

.section4 div div:hover {
    box-shadow: 0 0 5px #00a9a9;
}

.section4 div div img:hover {
    transform: translateY(-3px);
}

